$yellow: #F2B11C;
$yellow-hover: #cf9817;
$green: #0B8558;
$black: #383d38;
$bg:#f5f7fa;
$ff: "Coiny", serif;
$sf: "Nunito", serif;
$ff-dsc: 400 1.6rem $ff;
$ff-st: 800 2.4rem $ff;
$ff-h1: 800 4rem $ff;
$transition: all .45s ease-in;