.flex{
    display:flex;
    justify-content:space-between;
    flex-wrap:nowrap;
    align-items: center;
}
.flex-column{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
}
.flex-c{
    display:flex;
    justify-content:center;
}