@use 'variable.scss' as c;
@use 'reset.scss';
@use 'hero.scss';
@use 'flexbox.scss' as flex;
@use 'header.scss' as header;

html{
    font-size: 62.5%;
    scroll-behavior:smooth;
}
body{
    position:relative;
    font-family: c.$ff;
    width:100%;
    margin:0 auto;
    background: c.$bg;
}
a{
    color:c.$bg;
    text-decoration:none;
}
.container{
    width:100%;
    max-width:1280px;
    margin:0 auto;
}
