$yellow: #F2B11C;
$yellow-hover: #cf9817;
$green: #0b8558;
$green-light: #E7F7ED;
$black: #383d38;
$bg:#f5f7fa;
$body:#ECF1F4;
$icon:#37ABD0;
$ff: "Nunito", serif;
$sf: "Coiny", serif;
$ff-txt: 400 1.6rem/2.4rem $ff;
$ff-txtMobile: 600 1.4rem/2rem $ff;
$ff-st: 900 2rem $ff;
$ff-h1: 800 4rem $sf;
$ff-h1Mobile: 800 3.2rem/3.2rem $sf;
$ff-hero: 900 8rem/7.6rem $sf;
$ff-heroMobile: 900 4.8rem/5.2rem $sf;
$shadow-box: 2px 2px 6px rgba(0,0,0,0.2);
$transition: all .45s ease-in;