$yellow: #F2B11C;
$yellow-hover: #cf9817;
$green: #0b8558;
$green-light: #E7F7ED;
$black: #383d38;
$bg:#f5f7fa;
$body:#ECF1F4;
$ff: "Nunito", serif;
$sf: "Coiny", serif;
$ff-txt: 400 1.6rem/2.4rem $ff;
$ff-st: 800 2.4rem $ff;
$ff-h1: 800 4rem $sf;
$ff-hero: 900 8rem/7.6rem $sf;
$transition: all .45s ease-in;