@use 'variable.scss' as c;

@mixin title-grid($gridFont:900 4rem/4rem c.$sf, $gridColor: c.$bg) {
    color:$gridColor;
    font:$gridFont;
    margin:2rem;
    position:absolute;
    bottom:0;
    left:0;
}
@mixin flex($justify:space-between, $wrap:nowrap, $itemAlign:center){
    display:flex;
    justify-content:$justify;
    flex-wrap:$wrap;
    align-items:$itemAlign;
}
@mixin grid-container($qtdeColumn: 1fr 1fr, $gap:2rem, $bg:#fff, $padding:2rem){
    display:grid;
    grid-template-columns:$qtdeColumn;
    grid-gap:$gap;
    padding:$padding;
}
@mixin grid($qtdeColumn: 1fr 1fr, $gap:2rem, $bg:#fff, $padding:2rem){
    display:grid;
    grid-template-columns:$qtdeColumn;
    grid-gap:$gap;
    background-color:$bg;
    padding:$padding;
    border-radius:1rem;
    box-sizing:border-box;
}
@mixin btn($btn:c.$yellow, $w:15rem, $h:5.5rem, $m-top:4rem, $border:none,) {
    background-color:$btn;
    color:c.$bg;
    width:$w;
    height:$h;
    font-size:1.8rem;    
    margin-top:$m-top;
    border-radius:.8rem;
    outline:none;
    border:$border;
}
@mixin title($h1:c.$ff-h1, $title:c.$green, $align:center , $margin:5rem 0 2rem) {
    font:$h1;
    color: $title;
    text-align: $align;
    margin:$margin;
}
@mixin txt($color-txt:c.$black, $align:center, $font:c.$ff-txt){
    font:$font;
    text-align: $align;
    color:$color-txt;
}
@mixin card($padding:1.2rem, $w:23rem, $h:36rem, $border: 1px solid c.$green, $border-r:1rem){
    width:$w;
    height:$h;
    padding:$padding;
    box-sizing:border-box;
    border: $border;
    border-radius:$border-r;
}
.padrinhos{
    @include flex($wrap:wrap, $justify:space-evenly);
    &__card{
        @include card;
        img{
            width:100%;
            height:18rem;
            object-fit: cover;
            border-radius:1rem;
        }        
    }
    &__title{
        @include title($h1: 900 2rem/2rem c.$sf, $margin:1.6rem 0);
    }
}
.about-card{
    @include flex;
    .txt-corpo{
        @include txt($align:left);
        flex:2 1 680px;
    }
}
.card{
    flex:1 1 27rem;
    @include card($padding:3.2rem 2rem, $w:27rem, $border: none, $border-r:2rem);
    background-color:#fff;
    box-shadow:c.$shadow-box;
    margin-left:4rem;
}
.card__title{
    @include title($h1:900 12rem/12rem c.$sf, $margin: 0);
}
.card__txt{
    @include txt($font: 400 2.8rem/3.6rem c.$ff);
    margin:0 2rem;
}
.find-friends{
    padding:4rem 2rem;
    box-sizing:border-box;
    width:100%;
    background-color:#fff;
    border-radius:2rem;
    .title{
        @include title($margin: 0 0 1.6rem);
    }
    strong{
        @include txt($font:c.$ff-st, $color-txt: c.$green);
    }
}
.item-gatos{
    @include card($padding:1.6rem 2rem, $w:auto, $border:none, $h:auto);
    box-shadow: c.$shadow-box;
    margin-bottom:2rem;
    .item-gatos__infos{
        @include flex;
        margin-top:1.2rem;
        .title{
            @include title($h1: 900 3.2rem c.$sf, $margin:0);
        }
    }
    .fi-sr-wishlist-star{
        @include title($h1: 800 2.8rem c.$sf, $margin:0 2rem);
    }
    .fi-br-female{
        @include title($h1:900 2.8rem c.$sf, $title:#DF2896, $margin:0)
    }
    .fi-br-male{
        @include title($h1: 900 2.8rem c.$sf, $title: c.$icon, $margin:0);
    }
}
@media screen and (max-width:768px){
    .padrinhos{
        &__card{
            margin-top:2rem;
        }
    }
    .about-card{
        @include flex($wrap:wrap, $justify: center);
        flex-direction:column;
        padding:0 2rem;
        box-sizing:border-box;
        .txt-corpo{
            @include txt($align:center);
            flex:1 1 100%;
            margin-bottom:2rem;
        }
        .card__txt{
            @include txt($font:400 2.4rem/2.8rem c.$ff);
        }
    }
}