
@mixin flex($justify:space-between, $wrap:nowrap, $itemAlign:center){
    display:flex;
    justify-content:$justify;
    flex-wrap:$wrap;
    align-items:$itemAlign;
}
.flex{
    @include flex;
}

.flex-column{
    @include flex;
    flex-direction:column;
}
.flex-c{
    @include flex($justify: center);
}
.flex-stretch{
    @include flex($justify:space-evenly, $wrap:wrap);
}