@use 'variable.scss' as c;

@mixin title-grid($gridFont:900 4rem/4rem c.$sf, $gridColor: c.$bg) {
    color:$gridColor;
    font:$gridFont;
    margin:2rem;
    position:absolute;
    bottom:0;
    left:0;
}
@mixin flex($justify:space-between, $wrap:nowrap, $itemAlign:center){
    display:flex;
    justify-content:$justify;
    flex-wrap:$wrap;
    align-items:$itemAlign;
}
@mixin grid-container($qtdeColumn: 1fr 1fr, $gap:2rem, $padding:2rem){
    display:grid;
    grid-template-columns:$qtdeColumn;
    grid-gap:$gap;
    padding:$padding;
}
@mixin grid($qtdeColumn: 1fr 1fr, $gap:2rem, $bg:#fff, $padding:2rem){
    display:grid;
    grid-template-columns:$qtdeColumn;
    grid-gap:$gap;
    background-color:$bg;
    padding:$padding;
    border-radius:1rem;
    box-sizing:border-box;
}
@mixin btn($font:400 1.8rem/1.8rem c.$ff, $btn:c.$yellow, $color-t:c.$bg, $w:15rem, $h:5.5rem, $m-top:4rem) {
    background-color:$btn;
    color:$color-t;
    width:$w;
    height:$h;
    font:$font;   
    margin-top:$m-top;
    border-radius:.8rem;
    outline:none;
    border:none;
    cursor:pointer;
}
@mixin title($h1:c.$ff-h1, $title:c.$green, $align:center , $margin:5rem 0 2rem) {
    font:$h1;
    color: $title;
    text-align: $align;
    margin:$margin;
}
@mixin txt($color-txt:c.$black, $align:center, $font:c.$ff-txt){
    font:$font;
    text-align: $align;
    color:$color-txt;
}
.grid-container{
    @include grid-container;
    img{
        width:100%;
        height:100%;
        object-fit: cover;
        border-radius:2rem;
    }
    &__inside{
        @include grid-container;
        .grid-1{
            grid-column: span 2;
        }
    }
    .grid, .grid-1, .grid-2{
        position:relative;
        &::before{
            content:"";
            background: linear-gradient(to top, c.$green, rgba(11, 133, 88, 0));
            opacity:0.8;
            width:100%;
            height:100%;
            position:absolute;
            top:0;
            border-radius:2rem;
        }
    }
    .title-grid{
        @include title-grid;

    }
}
.choose-friend{
    @include grid-container($qtdeColumn: 3fr 1fr, $padding:1rem);

    &__principal{
        grid-column:1;
        @include grid($qtdeColumn: 1fr 2fr, $gap:2rem);        
        
    }
    .txt-corpo{
        @include txt($align:left);
    }            
    &__fotos{
        @include grid($qtdeColumn: 1fr 1fr 1fr, $gap:1rem);
        #myImage{
            grid-column: span 3;
            width:100%;
            height:100%;
            object-fit:cover;
            border-radius:1rem;
        }
    }
    &__lateral{
        @include grid($qtdeColumn:1fr, $padding:3.2rem 1.6rem);
        position:relative;
        img{
            width:100%;
            height:16rem;
            border-radius:1rem;
            object-fit: cover;

        }
        .name-cats{
            @include title($h1:900 3.2rem c.$sf, $title:c.$green, $margin:0);
        }
        .chevrons{
            position:absolute;
            height:100%;
            width:100%;
            .fi-bs-angle-small-up{
                position:absolute;
                top:0;
                left:50%;
                font-size:medium;
                margin-top:1rem;
            }
            .fi-bs-angle-small-down{
                position:absolute;
                bottom:0;
                left:50%;
                font-size:medium;
                margin-bottom:1rem;
            }
        }
    }
    .container-choose__dsc{
        padding:2rem 2rem;
        box-sizing:border-box;
        .title{
            @include title($h1:800 5.6rem c.$sf , $margin: 0)
        }
        .obs{
            @include title($h1:c.$ff-st, $title:c.$green, $margin:0);
        }
        .btns{
            @include flex;
        }
        &--btn-adote{
            @include btn;      
            i{
                margin:0 1rem;
            }      
        }
        &--btn-apadrinhe{
            @include btn($btn:c.$green);
            i{
                margin:0 1rem;
            }      
        }
    }
    .fi-sr-wishlist-star{
        @include title($h1: 800 2.8rem c.$sf, $margin:0 2rem);
    }
    .fi-rr-mars{
        @include title($h1: 800 2.8rem c.$sf, $title: c.$icon, $margin:1rem 0);
    }
}
.program-container{
    @include grid-container($qtdeColumn: repeat(12, 1fr), $padding:0, $gap:0);
    column-gap:2rem;
    &__tabs{
        grid-column: span 3;
        @include btn($font:900 2rem/2.6rem c.$sf, $btn:#fff, $color-t:c.$green, $w:100%, $h:auto, $m-top:0);
        padding: 2rem 0;
        border-top-left-radius:3rem;
        border-top-right-radius:3rem;
        border-bottom-left-radius:0;
        border-bottom-right-radius:0;
        text-decoration:underline;
        &--hide{
            grid-column: span 3;
            @include btn($font:300 2rem/2.6rem c.$sf, $btn:none, $color-t:#696969, $w:100%, $h:auto, $m-top:0);
        }
    }
    &__contents{
        grid-column: 1/-1;
        @include grid($qtdeColumn:repeat(12, 1fr), $padding:2rem 2.8rem);
        border-top-left-radius:0;
        border-top-right-radius:0;
        border-bottom-left-radius:2rem;
        border-bottom-right-radius:2rem;
        &-info{
           grid-column:span 8; 
           .title{
            @include title($h1:900 4rem/4rem c.$sf,$align:left, $margin:5.6rem 0 1rem);
            &__sub{
                @include txt($align:left, $font:400 1.6rem/1.6rem c.$ff);
                letter-spacing:1px;
            }
           }
           .txt-corpo{
            @include txt($align:left);
            margin-top:4rem;
           }
        }
        &-photo{
            grid-column: 9/-1;
            img{width:100%; height:100%; object-fit: cover; border-radius:1rem;}
        }
    }
    li{
        @include txt($align:left);
        list-style-type: disc;
        margin:.4rem 2.8rem 0;
    }
}
@media screen and (max-width:768px){
    .grid-container{
        @include grid-container($qtdeColumn:1fr);
        &__inside{
            @include grid-container($padding:0);
        }
    }
    .choose-friend{
        @include grid-container($qtdeColumn:1fr, $padding:0);
        box-sizing:border-box;
        &__principal{
            @include grid($qtdeColumn:1fr, $padding:0);
        }
        &__fotos{
            @include grid($qtdeColumn:1fr, $padding:2rem);
        }
        .btns{
            @include flex($justify:flex-start, $wrap:wrap);
            flex-direction:column;
        }
        &__lateral{
            @include grid($qtdeColumn:1fr, $padding:2rem 1.6rem);
        }
    }
    .container-choose__dsc{
        padding:0;
    }
    .program-container{
        @include grid-container($qtdeColumn:repeat(4, 1fr));
        column-gap:2rem;
        row-gap:0;
        &__tabs{
            @include btn($font:900 1.4rem c.$sf, $btn:#fff, $color-t:c.$green, $w:100%, $h:auto, $m-top:0);
            grid-column: auto;
            border-top-left-radius:1.6rem;
            border-top-right-radius:1.6rem;
            border-bottom-left-radius:0;
            border-bottom-right-radius:0;
            &--hide{
                grid-column:auto;
                @include btn($font:300 1.4rem c.$sf, $btn:none, $color-t:#696969, $w:100%, $h:auto, $m-top:0);
            }
        }
        &__contents{
            grid-column: 1/-1;
            @include grid($qtdeColumn:repeat(4, 1fr), $padding:2rem 2.8rem);
            border-top-left-radius:0;
            border-top-right-radius:0;
            border-bottom-left-radius:2rem;
            border-bottom-right-radius:2rem;
            &-info{
                grid-column:1/-1; 
            }
            &-photo{
                grid-column: 1/-1;
                img{width:100%; height:100%; object-fit: cover; border-radius:1rem;}
            }
        }
    }
}