@use 'variable.scss' as c;

@mixin btn($btn:c.$yellow) {
    background-color:$btn;
    color:c.$bg;
    padding:1.2rem 1.6rem;
    outline:none;
    border:none;
    border-radius:.4rem;
    margin-top:2rem;
    font: c.$ff-txt;
}

#hero{
    background-color:c.$green-light;
    height:76rem;
    .txt-corpo{
        margin-top:2rem;
        font-size:2rem;
    }
    .hero{
        display:block;
        position:relative;
        width:100%;
        max-width:1280px;
        margin:0 auto;
        display:flex;        
        justify-content: flex-end;
        &__title{
            position:absolute;
            top:37%;
            left:10rem;
            margin:0 2rem;
            width:45%;
        }
        img{
            margin-top:8rem;
            margin-right:11rem;
        }
        button{
            @include btn;
            width:22rem;
            .fi{
                margin:0 .8rem;
                font-size:1.8rem;
                vertical-align: middle;
            }
        }

    }
}
.text-bold{
    font:c.$ff-hero;
    color: c.$green;

}