html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#hero {
  background-color: #E7F7ED;
  height: 76rem;
}
#hero .txt-corpo {
  margin-top: 2rem;
  font-size: 2rem;
}
#hero .hero {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
#hero .hero__title {
  position: absolute;
  top: 37%;
  left: 10rem;
  margin: 0 2rem;
  width: 45%;
}
#hero .hero img {
  margin-top: 8rem;
  margin-right: 11rem;
}
#hero .hero button {
  background-color: #F2B11C;
  color: #f5f7fa;
  padding: 1.2rem 1.6rem;
  outline: none;
  border: none;
  border-radius: 0.4rem;
  margin-top: 2rem;
  font: 400 1.6rem/2.4rem "Nunito", serif;
  width: 22rem;
}
#hero .hero button .fi {
  margin: 0 0.8rem;
  font-size: 1.8rem;
  vertical-align: middle;
}

.text-bold {
  font: 900 8rem/7.6rem "Coiny", serif;
  color: #0B8558;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.flex-column {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.flex-c {
  display: flex;
  justify-content: center;
}

.menu {
  position: absolute;
  top: 7.2rem;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  max-width: 1170px;
  padding: 0 2rem;
  box-sizing: border-box;
  background-color: #0B8558;
  height: 9rem;
  border-radius: 2rem;
  z-index: 3;
}
.menu button {
  background: transparent;
  border: none;
  outline: transparent;
  font: 400 1.2rem "Nunito", serif;
  cursor: pointer;
}
.menu .hidden-flex--reverse {
  display: none;
}
.menu .hidden {
  display: block;
}
.menu .logo {
  margin: -4rem 2rem 0;
}
.menu .bar {
  margin: 0 1rem;
}
.menu .bar .bar-01,
.menu .bar .bar-02,
.menu .bar .bar-03 {
  width: 40px;
  height: 6px;
  background: #fff;
  margin-top: 0.4rem;
  border-radius: 1rem;
}
@media screen and (min-width: 1024px) {
  .menu {
    font-size: 1.4rem;
    letter-spacing: 0.8px;
  }
  .menu .hidden-flex--reverse {
    display: flex;
  }
  .menu .hidden-flex--reverse--unique li {
    padding: 0.8rem 2rem;
    border-radius: 0.8rem;
    margin: 0 2.8rem;
    border: 1px solid #f5f7fa;
  }
  .menu .hidden-flex--reverse--unique li i {
    margin-right: 1rem;
    vertical-align: middle;
  }
  .menu a {
    margin: 0 3.1rem;
    font-size: 1.5rem;
    transition: all 0.45s ease-in;
  }
  .menu a:hover {
    font-weight: 800;
  }
  .menu .hidden {
    display: none;
  }
}

.bar-modal {
  position: absolute;
  overflow: hidden;
  visibility: hidden;
  opacity: 1;
  top: -1500px;
  right: 0px;
  width: 100%;
  transition: All 0.4s ease-in-out;
}
.bar-modal--active {
  position: absolute;
  top: 0;
  right: 0;
  visibility: visible;
  background-color: #0B8558;
  width: 100%;
  height: 100%;
  z-index: 99;
  opacity: 0.95;
}
.bar-modal--active__nav {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font: 400 2.4rem/2.5 "Coiny", serif;
}
.bar-modal--active__nav ul li:hover {
  font-weight: 800;
  letter-spacing: 0.8px;
}

.box-link1, .box-link2 {
  border: 1px solid #f5f7fa;
  border-radius: 0.6rem;
  font-size: 1.4rem;
  height: 1.4rem;
  padding: 0.8rem 1.2rem;
}

.box-link1 {
  padding: 0.8rem 3.2rem;
}

.w-100 {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Nunito", serif;
  width: 100%;
  margin: 0 auto;
  background: #f5f7fa;
}

a {
  color: #f5f7fa;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.title {
  font: 800 4rem "Coiny", serif;
  color: #0B8558;
  text-align: center;
  margin: 5rem 0 2rem;
}

.txt-corpo {
  font: 400 1.6rem/2.4rem "Nunito", serif;
  text-align: center;
  color: #383d38;
}

/*# sourceMappingURL=style.css.map */
