html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#hero {
  background-color: #E7F7ED;
  height: 76rem;
}
#hero .txt-corpo {
  font: 400 1.8rem/2.8rem "Nunito", serif;
  text-align: left;
  color: #383d38;
}
#hero .hero {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
#hero .hero__title {
  position: absolute;
  top: 37%;
  left: 10rem;
  margin: 0 2rem;
  width: 45%;
}
#hero .hero img {
  margin-top: 8rem;
  margin-right: 11rem;
}
#hero .hero button {
  background-color: #F2B11C;
  color: #f5f7fa;
  padding: 1.2rem 1.6rem;
  outline: none;
  border: none;
  border-radius: 0.4rem;
  margin-top: 2rem;
  font: 400 1.8rem/2.8rem "Nunito", serif;
  width: 30rem;
}
#hero .hero button .fi {
  margin: 0 0.8rem;
  font-size: 1.8rem;
  vertical-align: middle;
}

.text-bold {
  font: 900 8rem/7.6rem "Coiny", serif;
  color: #0b8558;
}

@media screen and (max-width: 768px) {
  #hero .txt-corpo {
    font: 600 1.4rem/2rem "Nunito", serif;
    text-align: left;
    color: #383d38;
  }
  #hero .hero__title {
    left: 2rem;
    width: 76%;
    margin-bottom: 1.2rem;
    top: 60%;
  }
  #hero .hero__title .txt-corpo {
    margin-top: 2rem;
  }
  #hero .hero img {
    padding: 0 2rem;
    box-sizing: border-box;
    margin-right: 0 !important;
    width: 100%;
  }
  .text-bold {
    font: 900 4.8rem/5.2rem "Coiny", serif;
  }
}
.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.flex-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
}

.flex-c {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.flex-stretch {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.flex-wrap {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  position: absolute;
  top: 7.2rem;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  max-width: 1280px;
  padding: 0 2rem;
  box-sizing: border-box;
  background-color: #0b8558;
  height: 9rem;
  border-radius: 2rem;
  z-index: 3;
}
.menu button {
  background: transparent;
  border: none;
  outline: transparent;
  font: 400 1.2rem "Nunito", serif;
  cursor: pointer;
}
.menu .hidden-flex--reverse {
  display: none;
}
.menu .hidden {
  display: block;
}
.menu .logo {
  margin: -4rem 2rem 0;
}
.menu .bar {
  margin: 0 1rem;
}
.menu .bar .bar-01,
.menu .bar .bar-02,
.menu .bar .bar-03 {
  width: 40px;
  height: 6px;
  background: #fff;
  margin-top: 0.4rem;
  border-radius: 1rem;
}
@media screen and (min-width: 1024px) {
  .menu {
    font-size: 1.4rem;
    letter-spacing: 0.8px;
  }
  .menu .hidden-flex--reverse {
    display: flex;
  }
  .menu .hidden-flex--reverse--unique li {
    padding: 0.8rem 2rem;
    border-radius: 0.8rem;
    margin: 0 2.8rem;
    border: 1px solid #f5f7fa;
  }
  .menu .hidden-flex--reverse--unique li i {
    margin-right: 1rem;
    vertical-align: middle;
  }
  .menu a {
    margin: 0 3.1rem;
    font-size: 1.5rem;
    transition: all 0.45s ease-in;
  }
  .menu a:hover {
    font-weight: 800;
  }
  .menu .hidden {
    display: none;
  }
}

.bar-modal {
  position: absolute;
  overflow: hidden;
  visibility: hidden;
  opacity: 1;
  top: -1500px;
  right: 0px;
  width: 100%;
  transition: All 0.4s ease-in-out;
}
.bar-modal .fi-br-x {
  font-size: 2rem;
  color: #fff;
  position: absolute;
  top: 4rem;
  right: 4rem;
}
.bar-modal--active {
  position: absolute;
  top: 0;
  right: 0;
  visibility: visible;
  background-color: #0b8558;
  width: 100%;
  height: 100vh;
  z-index: 99;
  opacity: 0.95;
}
.bar-modal__nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bar-modal ul li {
  margin-bottom: 4.8rem;
  font-size: 2rem;
}

.box-link1, .box-link2 {
  border: 1px solid #f5f7fa;
  border-radius: 0.6rem;
  font-size: 1.4rem;
  height: 1.4rem;
  padding: 0.8rem 1.2rem;
}

.box-link1 {
  padding: 0.8rem 3.2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  padding: 2rem;
}
.grid-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
}
.grid-container__inside {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  padding: 2rem;
}
.grid-container__inside .grid-1 {
  grid-column: span 2;
}
.grid-container .grid, .grid-container .grid-1, .grid-container .grid-2 {
  position: relative;
}
.grid-container .grid::before, .grid-container .grid-1::before, .grid-container .grid-2::before {
  content: "";
  background: linear-gradient(to top, #0b8558, rgba(11, 133, 88, 0));
  opacity: 0.8;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 2rem;
}
.grid-container .title-grid {
  color: #f5f7fa;
  font: 900 4rem/4rem "Coiny", serif;
  margin: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

.choose-friend {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 2rem;
  padding: 1rem;
}
.choose-friend__principal {
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-sizing: border-box;
}
.choose-friend .txt-corpo {
  font: 400 1.8rem/2.8rem "Nunito", serif;
  text-align: left;
  color: #383d38;
}
.choose-friend__fotos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-sizing: border-box;
}
.choose-friend__fotos #myImage {
  grid-column: span 3;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.choose-friend__lateral {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  background-color: #fff;
  padding: 3.2rem 1.6rem;
  border-radius: 1rem;
  box-sizing: border-box;
  position: relative;
}
.choose-friend__lateral img {
  width: 100%;
  height: 16rem;
  border-radius: 1rem;
  object-fit: cover;
}
.choose-friend__lateral .name-cats {
  font: 900 3.2rem "Coiny", serif;
  color: #0b8558;
  text-align: center;
  margin: 0;
}
.choose-friend__lateral .chevrons {
  position: absolute;
  height: 100%;
  width: 100%;
}
.choose-friend__lateral .chevrons .fi-bs-angle-small-up {
  position: absolute;
  top: 0;
  left: 50%;
  font-size: medium;
  margin-top: 1rem;
}
.choose-friend__lateral .chevrons .fi-bs-angle-small-down {
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: medium;
  margin-bottom: 1rem;
}
.choose-friend .container-choose__dsc {
  padding: 2rem 2rem;
  box-sizing: border-box;
}
.choose-friend .container-choose__dsc .title {
  font: 800 5.6rem "Coiny", serif;
  color: #0b8558;
  text-align: center;
  margin: 0;
}
.choose-friend .container-choose__dsc .obs {
  font: 900 2rem "Nunito", serif;
  color: #0b8558;
  text-align: center;
  margin: 0;
}
.choose-friend .container-choose__dsc .btns {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}
.choose-friend .container-choose__dsc--btn-adote {
  background-color: #F2B11C;
  color: #f5f7fa;
  width: 15rem;
  height: 5.5rem;
  font: 400 1.8rem/1.8rem "Nunito", serif;
  margin-top: 4rem;
  border-radius: 0.8rem;
  outline: none;
  border: none;
  cursor: pointer;
}
.choose-friend .container-choose__dsc--btn-adote i {
  margin: 0 1rem;
}
.choose-friend .container-choose__dsc--btn-apadrinhe {
  background-color: #0b8558;
  color: #f5f7fa;
  width: 15rem;
  height: 5.5rem;
  font: 400 1.8rem/1.8rem "Nunito", serif;
  margin-top: 4rem;
  border-radius: 0.8rem;
  outline: none;
  border: none;
  cursor: pointer;
}
.choose-friend .container-choose__dsc--btn-apadrinhe i {
  margin: 0 1rem;
}
.choose-friend .fi-sr-wishlist-star {
  font: 800 2.8rem "Coiny", serif;
  color: #0b8558;
  text-align: center;
  margin: 0 2rem;
}
.choose-friend .fi-rr-mars {
  font: 800 2.8rem "Coiny", serif;
  color: #37ABD0;
  text-align: center;
  margin: 1rem 0;
}

.program-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0;
  padding: 0;
  column-gap: 2rem;
}
.program-container__tabs {
  grid-column: span 3;
  background-color: #fff;
  color: #0b8558;
  width: 100%;
  height: auto;
  font: 900 2rem/2.6rem "Coiny", serif;
  margin-top: 0;
  border-radius: 0.8rem;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 2rem 0;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  text-decoration: underline;
}
.program-container__tabs--hide {
  grid-column: span 3;
  background-color: none;
  color: #696969;
  width: 100%;
  height: auto;
  font: 300 2rem/2.6rem "Coiny", serif;
  margin-top: 0;
  border-radius: 0.8rem;
  outline: none;
  border: none;
  cursor: pointer;
}
.program-container__contents {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2rem;
  background-color: #fff;
  padding: 2rem 2.8rem;
  border-radius: 1rem;
  box-sizing: border-box;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.program-container__contents-info {
  grid-column: span 8;
}
.program-container__contents-info .title {
  font: 900 4rem/4rem "Coiny", serif;
  color: #0b8558;
  text-align: left;
  margin: 5.6rem 0 1rem;
}
.program-container__contents-info .title__sub {
  font: 400 1.6rem/1.6rem "Nunito", serif;
  text-align: left;
  color: #383d38;
  letter-spacing: 1px;
}
.program-container__contents-info .txt-corpo {
  font: 400 1.8rem/2.8rem "Nunito", serif;
  text-align: left;
  color: #383d38;
  margin-top: 4rem;
}
.program-container__contents-photo {
  grid-column: 9/-1;
}
.program-container__contents-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.program-container li {
  font: 400 1.8rem/2.8rem "Nunito", serif;
  text-align: left;
  color: #383d38;
  list-style-type: disc;
  margin: 0.4rem 2.8rem 0;
}

@media screen and (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    padding: 2rem;
  }
  .grid-container__inside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    padding: 0;
  }
  .choose-friend {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    padding: 0;
    box-sizing: border-box;
  }
  .choose-friend__principal {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    background-color: #fff;
    padding: 0;
    border-radius: 1rem;
    box-sizing: border-box;
  }
  .choose-friend__fotos {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    box-sizing: border-box;
  }
  .choose-friend .btns {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }
  .choose-friend__lateral {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    background-color: #fff;
    padding: 2rem 1.6rem;
    border-radius: 1rem;
    box-sizing: border-box;
  }
  .container-choose__dsc {
    padding: 0;
  }
  .program-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    padding: 2rem;
    column-gap: 2rem;
    row-gap: 0;
  }
  .program-container__tabs {
    background-color: #fff;
    color: #0b8558;
    width: 100%;
    height: auto;
    font: 900 1.4rem "Coiny", serif;
    margin-top: 0;
    border-radius: 0.8rem;
    outline: none;
    border: none;
    cursor: pointer;
    grid-column: auto;
    border-top-left-radius: 1.6rem;
    border-top-right-radius: 1.6rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .program-container__tabs--hide {
    grid-column: auto;
    background-color: none;
    color: #696969;
    width: 100%;
    height: auto;
    font: 300 1.4rem "Coiny", serif;
    margin-top: 0;
    border-radius: 0.8rem;
    outline: none;
    border: none;
    cursor: pointer;
  }
  .program-container__contents {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    background-color: #fff;
    padding: 2rem 2.8rem;
    border-radius: 1rem;
    box-sizing: border-box;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }
  .program-container__contents-info {
    grid-column: 1/-1;
  }
  .program-container__contents-photo {
    grid-column: 1/-1;
  }
  .program-container__contents-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }
}
.padrinhos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.padrinhos__card {
  width: 23rem;
  height: 36rem;
  padding: 1.2rem;
  box-sizing: border-box;
  border: 1px solid #0b8558;
  border-radius: 1rem;
}
.padrinhos__card img {
  width: 100%;
  height: 18rem;
  object-fit: cover;
  border-radius: 1rem;
}
.padrinhos__title {
  font: 900 2rem/2rem "Coiny", serif;
  color: #0b8558;
  text-align: center;
  margin: 1.6rem 0;
}

.about-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}
.about-card .txt-corpo {
  font: 400 1.8rem/2.8rem "Nunito", serif;
  text-align: left;
  color: #383d38;
  flex: 2 1 680px;
}

.card {
  flex: 1 1 27rem;
  width: 27rem;
  height: 36rem;
  padding: 3.2rem 2rem;
  box-sizing: border-box;
  border: none;
  border-radius: 2rem;
  background-color: #fff;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
  margin-left: 4rem;
}

.card__title {
  font: 900 12rem/12rem "Coiny", serif;
  color: #0b8558;
  text-align: center;
  margin: 0;
}

.card__txt {
  font: 400 2.8rem/3.6rem "Nunito", serif;
  text-align: center;
  color: #383d38;
  margin: 0 2rem;
}

.find-friends {
  padding: 4rem 2rem;
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  border-radius: 2rem;
}
.find-friends .title {
  font: 800 4rem "Coiny", serif;
  color: #0b8558;
  text-align: center;
  margin: 0 0 1.6rem;
}
.find-friends strong {
  font: 900 2rem "Nunito", serif;
  text-align: center;
  color: #0b8558;
}

.item-gatos {
  width: auto;
  height: auto;
  padding: 1.6rem 2rem;
  box-sizing: border-box;
  border: none;
  border-radius: 1rem;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}
.item-gatos .item-gatos__infos {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 1.2rem;
}
.item-gatos .item-gatos__infos .title {
  font: 900 3.2rem "Coiny", serif;
  color: #0b8558;
  text-align: center;
  margin: 0;
}
.item-gatos .fi-sr-wishlist-star {
  font: 800 2.8rem "Coiny", serif;
  color: #0b8558;
  text-align: center;
  margin: 0 2rem;
}
.item-gatos .fi-br-female {
  font: 900 2.8rem "Coiny", serif;
  color: #DF2896;
  text-align: center;
  margin: 0;
}
.item-gatos .fi-br-male {
  font: 900 2.8rem "Coiny", serif;
  color: #37ABD0;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .padrinhos__card {
    margin-top: 2rem;
  }
  .about-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    padding: 0 2rem;
    box-sizing: border-box;
  }
  .about-card .txt-corpo {
    font: 400 1.8rem/2.8rem "Nunito", serif;
    text-align: center;
    color: #383d38;
    flex: 1 1 100%;
    margin-bottom: 2rem;
  }
  .about-card .card__txt {
    font: 400 2.4rem/2.8rem "Nunito", serif;
    text-align: center;
    color: #383d38;
  }
}
footer {
  width: 100%;
  background-color: #0b8558;
  padding: 3.2rem 0;
}
footer .footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}
footer .footer__infos {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 2rem;
}
footer .footer .fi {
  font: 400 1.8rem/2.8rem "Nunito", serif;
  text-align: left;
  color: #fff;
  margin-right: 2rem;
}
footer .footer .txt-corpo {
  font: 400 1.8rem/2.8rem "Nunito", serif;
  text-align: left;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    padding: 3.2rem 2rem;
    box-sizing: border-box;
  }
}
.container__pix {
  width: 80%;
  margin: 2rem auto;
  padding: 2rem 4rem;
  background-color: #f5f7fa;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}
.container__pix-info {
  width: 70%;
}
.container__pix-qr {
  width: 25%;
}
.container__pix-qr img {
  width: 100%;
  margin: 1.2rem auto;
}
.container__pix .title-02 {
  font: 800 2rem "Coiny", serif;
  color: #0b8558;
  text-align: center;
  margin: 2rem 0;
}
.container__pix .pix-key {
  margin: 0 auto;
  font-weight: 600;
  background-color: transparent;
  color: #383d38;
  width: 100%;
  height: 5.5rem;
  font-size: 1.8rem;
  text-align: center;
  margin-top: -2rem;
  border-radius: 0.8rem;
  padding: 0.8rem 2rem;
  outline: none;
  box-sizing: border-box;
  border: none;
}

.box-card {
  width: 28rem;
  height: auto;
  padding: 0;
  box-sizing: border-box;
  border: none;
  border-radius: 1rem;
  overflow: hidden;
  background-color: #fff;
  box-sizing: border-box;
  margin: 3.2rem auto;
}
.box-card__head {
  width: 100%;
  background-color: #0b8558;
  padding: 1.6rem;
  box-sizing: border-box;
}
.box-card__title {
  font: 400 1.8rem/2.8rem "Nunito", serif;
  text-align: center;
  color: #fff;
  font-weight: 800;
}
.box-card__txt {
  font: 400 1.8rem/2.8rem "Nunito", serif;
  text-align: center;
  color: #383d38;
  line-height: 1.4em;
  margin: 2rem;
}
.box-card img {
  width: 100%;
  margin: 2.8rem auto;
  padding: 0 2rem;
  box-sizing: border-box;
}

.btn-ajudar {
  background-color: #F2B11C;
  color: #f5f7fa;
  width: 24rem;
  height: 5.5rem;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 2rem;
  border-radius: 0.8rem;
  padding: 0.8rem 2rem;
  outline: none;
  box-sizing: border-box;
  border: none;
  margin: 2rem auto;
  display: block;
  cursor: pointer;
  transition: all 0.45s ease-in;
}
.btn-ajudar:hover {
  background-color: #cf9817;
}
.btn-ajudar i {
  margin-right: 1.6rem;
}

.list-columns {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: center;
  margin: 5.2rem auto;
  padding: 0 2rem;
  box-sizing: border-box;
}
.list-columns ul {
  list-style-position: inside;
}
.list-columns li {
  margin: 2rem 0;
  list-style: disc;
  font: 700 1.4rem/1.8rem "Nunito", serif;
  text-align: left;
  color: #0b8558;
}

.box-fathers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 3rem auto;
}
.box-fathers__cards {
  width: auto;
  height: 22rem;
  padding: 0;
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  margin: 2rem;
  overflow: hidden;
}
.box-fathers__cards img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1.6rem;
}
.box-fathers__names {
  font: 300 1.4rem "Nunito", serif;
  text-align: center;
  color: #383d38;
}

.list-brands {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin: 2rem;
}
.list-brands img {
  margin: 2.4rem;
  width: 20rem;
  height: auto;
}

@media screen and (max-width: 768px) {
  .container__pix {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  .container__pix-info {
    width: 100%;
  }
  .container__pix-qr {
    width: 100%;
    margin: 2rem 4rem;
  }
  .container__pix-qr img {
    width: 100%;
    margin: 1.2rem auto;
  }
  .list-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
  }
  .list-columns ul {
    width: 100%;
  }
  .list-columns li {
    font-size: 2rem;
    text-align: center;
    list-style: none;
  }
}
#mc_embed_shell {
  padding-top: 15rem;
}
#mc_embed_shell #mc_embed_signup {
  background: none;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

form {
  width: 100%;
  padding: 0;
}
form p {
  font: 400 1.2rem/1.4rem "Nunito", serif;
  text-align: left;
  color: #383d38;
}
form label {
  font: 600 1.4rem/1.6rem "Nunito", serif;
  text-align: left;
  color: #383d38;
}
form fieldset {
  margin: 0;
}
form #mc_embed_signup_scroll {
  display: grid;
  width: 100%;
  background: #f5f7fa;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
  padding: 2rem;
  box-sizing: border-box;
}
form #mc_embed_signup_scroll #mergeRow-gdpr {
  grid-column: 1/6;
}
form #mc_embed_signup_scroll .title {
  font: 800 4rem "Coiny", serif;
  color: #0b8558;
  text-align: left;
  margin: 0;
  grid-column: 1/8;
}
form #mc_embed_signup_scroll .indicates-required {
  grid-column: 8/-1;
}
form #mc_embed_signup_scroll .asterisk {
  color: red;
}
form #mc_embed_signup_scroll .mc-field-group {
  grid-column: 1/10;
}
form #mc_embed_signup_scroll .mc-field-group label {
  width: 100%;
}
form #mc_embed_signup_scroll .mc-field-group input {
  width: 100%;
  outline: none;
  border: none;
  padding: 0.8rem 1rem;
  box-sizing: border-box;
  border-radius: 0.4rem;
}
form #mc_embed_signup_scroll .mc-field-group input[type=checkbox] {
  width: 2rem;
  margin: 2rem 0;
}
form #mc_embed_signup_scroll .optionalParent {
  grid-column: 1/-1;
}
form #mc_embed_signup_scroll .optionalParent .button {
  background-color: #0b8558;
  color: #f5f7fa;
  width: 12rem;
  height: 4.4rem;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 4rem;
  border-radius: 0.8rem;
  padding: 0.8rem 2rem;
  outline: none;
  box-sizing: border-box;
  border: none;
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  form {
    width: 100%;
  }
  form p {
    font: 400 1.2rem/1.4rem "Nunito", serif;
    text-align: left;
    color: #383d38;
  }
  form label {
    font: 600 1.4rem/1.6rem "Nunito", serif;
    text-align: left;
    color: #383d38;
  }
  form #mc_embed_signup_scroll {
    background-color: #f5f7fa;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    box-sizing: border-box;
  }
  form #mc_embed_signup_scroll #mergeRow-gdpr {
    grid-column: 1/-1;
  }
  form #mc_embed_signup_scroll .title {
    font: 800 4rem "Coiny", serif;
    color: #0b8558;
    text-align: left;
    margin: 0;
    grid-column: 1;
  }
  form #mc_embed_signup_scroll .indicates-required {
    grid-column: 2;
  }
  form #mc_embed_signup_scroll .asterisk {
    color: red;
  }
  form #mc_embed_signup_scroll .mc-field-group {
    grid-column: 1/-1;
  }
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Nunito", serif;
  width: 100%;
  margin: 0 auto;
  background: #ECF1F4;
  overflow-x: hidden;
}

a {
  color: #f5f7fa;
  text-decoration: none;
  cursor: pointer;
}

section {
  padding: 4rem 0;
}

#about .container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
#about .img-about {
  position: relative;
  padding: 2rem;
  box-sizing: border-box;
  margin-right: 2rem;
}
#about .img-about img {
  z-index: 1;
}
#about .title {
  font: 800 4rem "Coiny", serif;
  color: #0b8558;
  text-align: left;
  margin: 5rem 0 2rem;
}
#about .txt-corpo {
  font: 400 1.8rem/2.8rem "Nunito", serif;
  text-align: left;
  color: #383d38;
  margin-right: 4rem;
}
#about .underlay {
  position: absolute;
  height: 92%;
  width: 20rem;
  background-color: #F2B11C;
  left: 0;
  top: 0;
  z-index: -1;
  border-radius: 0.4rem;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  box-sizing: border-box;
}

.title {
  font: 800 4rem "Coiny", serif;
  color: #0b8558;
  text-align: center;
  margin: 5rem 0 2rem;
}

.txt-corpo {
  font: 400 1.8rem/2.8rem "Nunito", serif;
  text-align: center;
  color: #383d38;
}
.txt-corpo .obs {
  font: 700 2rem/2.4rem "Nunito", serif;
  text-align: center;
  color: #0b8558;
  margin-top: 2rem;
}

.locate {
  margin-bottom: 6.4rem;
}
.locate .txt-corpo {
  font: 400 1.8rem/2.8rem "Nunito", serif;
  text-align: left;
  color: #383d38;
}

@media screen and (max-width: 768px) {
  .title {
    font: 800 3.2rem/3.2rem "Coiny", serif;
    color: #0b8558;
    text-align: center;
    margin: 5rem 0 2rem;
  }
  #about .container {
    flex-wrap: wrap;
    padding: 2rem;
    box-sizing: border-box;
  }
  #about .img-about {
    margin-right: 0;
  }
  #about img {
    width: 100%;
  }
  .flex-stretch {
    padding: 0 2rem;
  }
  .flex-stretch img {
    width: 100%;
    margin-top: 2rem;
  }
  .locate {
    padding: 0 2rem;
    box-sizing: border-box;
  }
}

/*# sourceMappingURL=style.css.map */
